<p>For the rest of this section, I recommend you follow along and experiment with the fun load balancing and load testing we are going to do. You can grab the files <a href="https://github.com/aneagoie/load-balancer-exercise" rel="nofollow" target="_blank">at the repository here</a>.</p>