<p>In the previous video we used two great tools I highly recommend:<br><br><a href="https://knexjs.org/" rel="nofollow" target="_blank">Knex.js</a><br><br><a href="https://www.getpostman.com/" rel="nofollow" target="_blank">Postman</a></p>