<p>Visit the <a href="https://jwt.io/" rel="nofollow" target="_blank">jwt.io</a> website and play around with their JWTinteractive page to better understand how everything works before moving on to the next video.</p>