<p>First, in case you have never put a website online using Github Pages, you can use this tutorial to have your Github website up and running in 5 minutes:<a href="https://pages.github.com/" rel="nofollow" target="_blank">https://pages.github.com/</a>Please note that this is only for simple websites. If you want to have github pages work with create react app, we cover this in the upcoming video: <strong>Deploying Our React App</strong><br><br>Progressive Web Apps Checklist: <a href="https://developers.google.com/web/progressive-web-apps/checklist" rel="nofollow">https://developers.google.com/web/progressive-web-apps/checklist</a><br></p>

<p>Finally, if you would like to implement HTTPS yourself, I recommend you use<a href="https://letsencrypt.org/docs/" rel="nofollow" target="_blank">Let's Encrypt</a></p>