<p>Here is a great resource if you want to learn more about what will be coming up in the future with HTTP/2:<br><br><a href="https://developers.google.com/web/fundamentals/performance/http2/" rel="nofollow" target="_blank">https://developers.google.com/web/fundamentals/performance/http2/</a></p>