<p>To learn more about <code>bin/bash</code> discussed in the previous video, have a look <a href="https://unix.stackexchange.com/questions/398543/what-are-the-contents-of-bin-bash-and-what-do-i-do-if-i-accidentally-overwrote" rel="nofollow" target="_blank">at this resource</a>.<br></p>