<p>Being secure in your day to day internet life is also important. I recommend this excellent resource for you to cover the basics:<a href="https://watchyourhack.com" rel="nofollow" target="_blank">https://watchyourhack.com</a></p>