<p>To install<a href="https://www.npmjs.com/package/typescript" rel="nofollow" target="_blank">TypeScript</a> please use the previous video and install it through the command line. If you have issues running the tsc command, have a look below:</p>

<p><a href="https://stackoverflow.com/questions/39404922/tsc-command-not-found-in-compiling-typescript" rel="nofollow" target="_blank">https://stackoverflow.com/questions/39404922/tsc-command-not-found-in-compiling-typescript</a></p>