<p>Have a look <a href="https://github.com/Microsoft/TypeScript/wiki/TypeScript-Editor-Support" rel="nofollow" target="_blank">at this resource</a> to get TypeScript set up with your favourite resource. Once completed, see you in the next video!</p>