<p>Using what you have learned in the previous video, start to get more familiar with the SmartBrain app and code. See if you can make modifications to it and make it your own. Also use <code>console.log</code> to experiment and understand how the entire system works.</p>