<p>HEADS UP! In the next video you will see the smartBrain app in action!<br><br>Sometimes the Clarifai API models we use in the code base can be down or not working as they are constantly getting updated. A good way to check if the model you are using is up, is to check them on the Clarifai website. For example, for the Face Detect Mode: <a href="https://www.clarifai.com/models/face-detection" rel="noopener noreferrer" target="_blank">https://www.clarifai.com/models/face-detection</a>. If that isn't working, then that means you will have to wait until their servers are back up. Another solution is to use a different version of their model that works like this one: `c0c0ac362b03416da06ab3fa36fb58e3`.<br><br>So compared to what you might see in the next video you might have to enter the above key:</p><p> so you would change from in the video:</p><p><code>.predict(Clarifai.FACE_DETECT_MODEL, req.body.input)</code></p><p> to:</p><p><code>.predict('c0c0ac362b03416da06ab3fa36fb58e3', req.body.input)</code></p><p><br><br>You will see when you get there in the next couple of lectures :)<br></p><pre class="prettyprint linenums">const handleApiCall = (req, res) =&gt; {
  app.models
    // You may have to do this:
    // .predict(Clarifai.FACE_DETECT_MODEL, req.body.input)
    .predict('c0c0ac362b03416da06ab3fa36fb58e3', req.body.input)
    .then(data =&gt; {
      res.json(data);
    })
    .catch(err =&gt; res.status(400).json('unable to work with API'))
}</pre>