<p>You can find the robofriends app with the hooks code we worked on in this part right here: <a href="https://github.com/aneagoie/robofriends-hooks" rel="noopener noreferrer" target="_blank"><strong>https://github.com/aneagoie/robofriends-hooks</strong></a></p>