<p>Parcel v2 was just announced! Check out the latest features and updates.. it does pretty much the same thing as before, but just a little bit better :)<br><br><a href="https://parceljs.org/blog/v2/" rel="noopener noreferrer" target="_blank">https://parceljs.org/blog/v2/</a></p>