<p>Truly,&nbsp;thank you for completing the course. I&nbsp;hope you are able to do what you want with this knowledge now. I would love to hear from you about your experiences and where this course has gotten you in your life.&nbsp;<strong>&nbsp;You can also follow me on twitter where I will announce when my next course is out (I am currently working on it!):&nbsp;</strong><a href="https://twitter.com/AndreiNeagoie" rel="noopener noreferrer" target="_blank"><strong>@andreineagoie</strong></a>

It will really mean a lot to me if you are able to leave a positive review if you have enjoyed this course. Reviews mean everything on a website like Udemy, and it is the only way I&nbsp;can be discovered by others.&nbsp;

Please keep in touch and share this course to anybody that may benefit from it.&nbsp;Until next time.&nbsp;Buh bye.&nbsp;<br></p><p>&nbsp; P.S.&nbsp;I have created the<strong>&nbsp;#alumni</strong>&nbsp;channel on Discord. If you have finished the course&nbsp;I highly recommend you join the channel and stay up to date and network throughout your careers. Thanks for @Alex Castro for this idea. It would be interesting to have the alumni follow up on their career journeys. Like *<strong>Did they find a new job</strong>?* or *<strong>Did they enroll&nbsp;in some further study?</strong>* or even *<strong>Did they launch&nbsp;their own business/product?</strong>*&nbsp;Many students would benefit from this and I hope you give back a bit to the community :)</p>